<%- include('./partials/header') %>
    <nav>
       <nav>
            <a href="/flights">ALL FLIGHTS</a>&nbsp;|&nbsp;
            <a href="/flights/new">ADD FLIGHT</a>
       </nav>

    </nav>
    <%- include('./partials/footer') %>